<footer class="footer page-footer row align-items-center justify-content-center">
  <div class="footer-text">This website was created to fulfill the Web Technology module's requirements</div>
</footer>

<script src="/client.js"></script>