<header class="header page-header column justify-content-start align-items-start">
  <div class="logo header-logo">
    <a href="/">
      <h1 class="logo-title">00017192</h1>
    </a>
  </div>
  <nav class="nav header-nav">
    <ul class="nav-list column">
      <li class="nav-item <% if (page === "expenses") { %>active<% } %>"><a href="/expenses" class="nav-link">Expenses</a></li>
    </ul>
  </nav>
  <div class="profile header-profile">
    <img src="/avatar.png" alt="Avatar" class="profile-avatar">
    <div class="profile-description column align-items-start">
      <span class="profile-name">John Do</span>
      <span class="profile-email">john.do@gmail.com</span>
    </div>
  </div>
</header>